{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
.logo {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 15px;
}

.win {
  max-width: 50%;
  max-height: 50%;
  margin-bottom: 2px;
  margin-top: 5px;
}

.cardimg{
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 15px;
}

#name{
  font-weight: bold;
  color: #e14eca;
}

.help-block{
  color: #FF0000;
}

</style>
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">

    {% if erro %}
      <div class="alert alert-danger" role="alert">
        Error durante inscrição !!! Dados inválidos:
        {{ form.errors }}
      </div>
    {% endif %}

    <img class="logo" src="/static/assets/img/gladiators_logo.png"/>

    <div class="card">      

      <div class="card-header">
          <h5 class="title">Regras</h5>
      </div>

      <div class="card-body">
        <h5>Premiação</h5>
          <ul>
            <li>1º lugar -  R$60,00 + Curso + 1H aula particular com YT Bielvinis</li>
            <li>2º lugar -  R$30,00 + Curso</li>
            <li>3º lugar -  Curso</li>
          </ul> 
        <h5>1º Classificatória - 12/11/2022 - 19H (Brasília GMT-3):</h5>
          <ul>
            <li>Nome do Torneio: <span id="name">Gladiators YT BoB Caster</span>. *Não haverá senha</li>
            <li>Torneio será aberto pelo Panda BR às 18H e terá início as 19H. Será transmitido no canal do Youtube <a href="https://www.youtube.com/c/BoBCaster" target="_blank">BobCaster</a></li>
            <li>Duração: 1H</li>
            <li>Modo: Elixir Duplo com um limite de 5 derrotas</li>
            <li>Cartas são niveladas no level 11</li>
            <li>Os 8 melhores estão classificados para grande final</li>
          </ul>      
          <h5>2º Classificatória - 19/11/2022 - 19H (Brasília GMT-3):</h5>
          <ul>
            <li>Nome do Torneio: <span id="name">Gladiators YT Panda BR</span>. *Não haverá senha</li>
            <li>Torneio será aberto pelo BoB Caster às 18H e terá início as 19H. Será transmitido no canal do Youtube <a href="https://www.youtube.com/channel/UC0BAOBvJe_RzWV2PhP3EqSg" target="_blank">Panda BR</a></li>
            <li>Duração: 1H</li>
            <li>Cartas são niveladas no level 11</li>
            <li>Modo: Normal com limite de 5 derrotas</li>
            <li>Os 8 melhores estão classificados para grande final</li>
          </ul>
          <h5>Mata-Mata - 21/11/2022 a 25/11 (Brasília GMT-3):</h5>
          <ul>
            <li>Partida MD3 modo Duelo</li>
          </ul>
          <h5>Semi-final e Final - 26/11/2022 às 19H (Brasília GMT-3):</h5>
          <ul>
            <li>As partidas serao transmitidas no canal do Youtube <a href="https://www.youtube.com/channel/UC0BAOBvJe_RzWV2PhP3EqSg" target="_blank">Panda BR</a></li>
            <li>Modo MD5 sem poder repetir cartas de win condition. Caso contrário, desclassificado</li>
            <li>Classificados tem o limite de 10 minutos para se apresentarem as partidas</li>
            <li>Cartas são niveladas no level 11</li>
            <li>Cartas que não podem ser repetidas:</li>
            <img class="win" src="/static/assets/img/win_condition.png"/>
          </ul> 
      </div>
    </div>

    <div class="card">
        <form role="form" method="post" action="">
        
        {% csrf_token %} 

        <div class="card-header">
            <h5 class="title">Inscrever-se</h5>

            <h6 class="card-category">
                Dados 
            </h6>
        </div>

        <div class="card-body">
            {% bootstrap_form form %}   
            <button type="submit" name="add" class="btn btn-fill btn-primary">Inscrever</button>
            <br>
            <small>* Respeitamos o acordo entre clãs e nenhum player pertencente a outro clã será aliciado.</small>
            <br>
            <small>* Caso tenha algum problema, entre em contato com o email torneiogladiadores@gmail.com</small>
        </div>
        </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/armageddon.png" alt="Armageddon">
      <div class="card-body">
        <p class="card-text"><a href="https://royaleapi.com/f/armageddon">Armageddon</a></p>
        <p class="card-text">Siga-nos no <a href="https://www.instagram.com/armageddon_cr_clan/">Instagram</a> para mais eventos</p>
        <p class="card-text">Participe do nosso <a href="https://discord.gg/nCBSysWBSr">Discord</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/uzputoz.png" alt="UZPUTOZ">
      <div class="card-body">
        <p class="card-text"><a href="https://royaleapi.com/clan/20RGVR8">UZPUTOZ</a></p>
        <p class="card-text">Siga-nos no <a href="https://instagram.com/uzputoz">Instagram</a> para mais eventos</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/bielvnis.png" alt="Bielvnis">
      <div class="card-body">
        <p class="card-text">Siga no <a href="https://www.youtube.com/c/BielvinisCR">Youtube</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/lucas.png" alt="Lucas">
      <div class="card-body">
        <p class="card-text">Siga no <a href="https://www.instagram.com/lucasaraujo.dsg/?igshid=YmMyMTA2M2Y">Instragram</a></p>
        <p class="card-text">Conheca o <a href="https://linktr.ee/lucasaraujodsg">Site</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/clashroyalebrasil.png" alt="ClashRoyaleNewsBrasil">
      <div class="card-body">
        <p class="card-text">Siga no <a href="https://www.instagram.com/clashroyalenewsbrasil/">Instagram</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/panda.png" alt="Panda">
      <div class="card-body">
        <p class="card-text">Siga no <a href="https://www.youtube.com/c/BoBCaster">Youtube</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top cardimg" target="_blank" src="/static/assets/img/bob.png" alt="Bob">
      <div class="card-body">
        <p class="card-text">Siga no <a href="https://www.youtube.com/c/BielvinisCR">Youtube</a></p>
      </div>
    </div>
  </div>
</div>







{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}