{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 15px;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <img src="/static/assets/img/gladiators_logo.png"/>

    <div class="card">
        <form role="form" method="post" action="">
        
        {% csrf_token %} 

        <div class="card-header">
            <h5 class="title">Torneio Gladiadores</h5>

            <h6 class="card-category">
                Dados 
            </h6>
        </div>

        <div class="card-body">
            {% bootstrap_form form %}   
            <button type="submit" name="add" class="btn btn-fill btn-primary">Registrar</button>           
        </div>

        </form>
    </div>
    <small>* Respeitamos o acordo entre clãs e nenhum player pertencente a outro clã será aliciado.</small>
    <br>
    <small>* Caso tenha algum problema, entre em contato com o email torneiogladiadores@gmail.com</small>
  </div>
</div>  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}