{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  #info{
    font-weight: bold;
    color: #00B050;
  }

  .help-block{
    color: #FF0000;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">

        <form role="form" method="post" action="">
        
        {% csrf_token %} 

        <div class="card-header">
            <h5 class="title">Fazer Parte da Família <span id="info">(Somente level 14)</span></h5>

            <h6 class="card-category">
                Dados 
            </h6>
        </div>

        <div class="card-body">
            {% bootstrap_form form %}   
            <button type="submit" name="add" class="btn btn-fill btn-primary">Enviar</button>           
        </div>

        </form>
    </div>
  </div>
  
</div>  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}