{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Modal -->
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title">Histórico</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nome</th>
                  <th>Origem</th>
                  <th>Destino</th>
                  <th>Data (Sao Paulo)</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in object_list %}
                    <tr>
                        <td>{{ obj.clanMember.name }}</td>
                        <td><span style="color:#FF726F;">{{ obj.clanSource.name }}</span></td>
                        <td><span style="color:#00B050;">{{ obj.clanDestiny.name }}</span></td>
                        <td>{{ obj.date|date:'d/m/Y H:i:s' }}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table> 
          </div>
        </div>
      </div>
      {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{page_obj.previous_page_number}}"
                            >&laquo;</a
                        >
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item"><a class="page-link active">{{ i }}</a></li>
                    {% else %} 
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{page_obj.next_page_number}}" class="page-link"
                        >&raquo;</a
                        >
                    </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                  </li>
                {% endif %}
            </ul>
        </nav>
      {% endif %}
    </div>
</div> 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}



{% endblock javascripts %}