{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
#clanfilter{
  background-color: #27293D;
}
</style>
{% endblock stylesheets %}

{% block content %}

<h4 class="card-title text-center">Performance</h4>

<div class="row">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h6 class="card-title">Clans</h6>
          </div>
          <div class="card-body">   
              <div>
                    <select class="form-control" id="clanfilter" name="clan" >
                        {% for clan in clans %}
                            <option class="optionvalue" {% if clan.tag == sel_clantag %} selected {% endif %} value="{{ clan.tag|slice:"1:" }}">{{ clan.name }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="return loadData();" class="btn btn-primary" role="button">Load data</button>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row" id="divGraphic" hidden>
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Average</h5>
        <h4 class="card-title"><i class="tim-icons icon-bell-55 text-primary" style="color:black"></i> <span id="totalAvg"></span></h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartAverage"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Fame</h5>
        <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> <span id="totalFame"></span></h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartFame"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>

  function fillGraphics(avg_labels, avg_data, fame_data) {
    gradientChartOptionsConfigurationForAvg = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#ffffff',
        titleFontColor: '#000000',
        bodyFontColor: '#FF0000',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 225,
            padding: 5,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 10,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };

    gradientChartOptionsConfigurationForFame = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 180000,
            padding: 5,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 10,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };

    var ctxAvg = document.getElementById("chartAverage").getContext("2d");
    var gradientStrokeAvg = ctxAvg.createLinearGradient(0, 230, 0, 50);

    gradientStrokeAvg.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStrokeAvg.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStrokeAvg.addColorStop(0, 'rgba(119,52,169,0)');

    var dataAvg = {
      labels: avg_labels,
      datasets: [{
        label: "Average",
        fill: true,
        backgroundColor: gradientStrokeAvg,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: avg_data,
      }]
    };

    new Chart(ctxAvg, {
      type: 'line',
      data: dataAvg,
      options: gradientChartOptionsConfigurationForAvg
    });

    var ctxFame = document.getElementById("chartFame").getContext("2d");
    var gradientStrokeFame = ctxFame.createLinearGradient(0, 230, 0, 50);

    gradientStrokeFame.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStrokeFame.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStrokeFame.addColorStop(0, 'rgba(119,52,169,0)');

    var dataFame = {
      labels: avg_labels,
      datasets: [{
        label: "Fame",
        fill: true,
        backgroundColor: gradientStrokeFame,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: fame_data,
      }]
    };

    new Chart(ctxFame, {
      type: 'line',
      data: dataFame,
      options: gradientChartOptionsConfigurationForFame
    });
  }

  function loadData() {
    var clanTag = $('#clanfilter').val();
    
    $.ajax({
      url: "{% url 'clashdata:performanceclan' %}",
      type: "GET",
      data: {
        clanTag : clanTag
      },
      error: function(response){
          console.log("error");
      },
      success: function(response){
        $('#divGraphic').removeAttr('hidden');

        var avg_labels = [];
        var avg_data = [];
        var fame_data = [];

        response.data.Seasons.forEach(function(item, index, arr){
          avg_labels.push(item.Name);
          avg_data.push(item.Avg.toFixed(2));
          fame_data.push(item.Fame);
        });

        var totalAvg = response.data.AllSeasonsAvg.toFixed(2);
        $("#totalAvg").text( totalAvg + " / week");
        $("#totalFame").text(response.data.AllSeasonsFame.Min + " - " + response.data.AllSeasonsFame.Max);

        fillGraphics(avg_labels, avg_data, fame_data);
      }
  });

  }

</script>
{% endblock javascripts %}