{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    td > div > img {
        height: 1em;
        width: auto;
        display: inline-block;
    }

    .rowcolor
    {
        background-color:#2C3F50;
    }

</style>

{% endblock stylesheets %}

{% block content %}

{% if error %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Ошибка</h6>
            </div>
            <div class="card-body">   
                <h6 style="color:#FF726F;">{{ error }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
    <h5>Загрузка...</h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped" style="min-width: 20px;"></div>
    </div></div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card test">
            <div class="card-body">
                <h4 class="card-title text-center">Хабаровск</h4>
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                      <thead>
                        <tr>
                          <th class="">Имя</th>
                          <th class="">Текущий</th>
                          <th class="">колоды</th>
                          <th class="">Перспектива</th>
                          {% if not isColosseum %}
                            <th class="text-right text-md-center">Общий</th>
                          {% endif %}
                        </tr>
                      </thead>
                      <tbody id="russoContent">
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center">отсутствующий<span id="russosMissing"></span></h4>
                <div class="table-responsive">
                    <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                        <th class="col4">Имя</th>
                        <th class="col2">колоды</th>
                        <th class="col4">онлайн</th>
                        </tr>
                    </thead>
                    <tbody id="russosMissingContent">
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>

    const bar = document.querySelector(".progress-bar");
    let currentProgress = 0;

    function setProgressBar(){
        currentProgress = currentProgress + 20;
        if (currentProgress > 100){
            currentProgress = 100;
        }

        bar.style.width = currentProgress + "%";
        bar.innerText = currentProgress + "%";

        if (currentProgress >= 100){
            $(".progress").css("display", "none");
            $("h5").css("display", "none");
        }
    }

    $(document).ready(function () {

        var count = {{ clanTags|length }};
        var eachProgress = 100;

        const bar = document.querySelector(".progress-bar");
        let currentProgress = 0;

        {% for clan in clanTags %}

            $.ajax({
                url: "{% url 'clashdata:dima' %}",
                type: "GET",
                data: {
                    tag_id: "{{ clan }}"
                },
                error: function(response){
                    console.log("error");
                },
                success: function(response){

                    currentProgress = currentProgress + eachProgress;
                    
                    if (currentProgress > 100){
                        currentProgress = 100;
                    }

                    bar.style.width = currentProgress + "%";
              	    bar.innerText = currentProgress + "%";

                    if (currentProgress >= 100){
                        $(".progress").css("display", "none");
                        $("h5").css("display", "none");
                    }

                    let clanRows = ''
                    let points = [3000, 1800, 1000, 600, 400];
                    let colosseum = response.warInfo.colosseum;
        
                    response.warInfo.clansInfos.forEach(function(item, index, arr){

                        let total = parseInt(item.Fame) + points[index]
                        clanRow = '<tr class="rowcolor"> \
                                    <td class="col-2"> \
                                        <div>' + item.Name + '</div> \
                                        <div><img src="/static/assets/img/trophy.png"/> ' + item.ClanScore + '</div> \
                                    </td> \
                                    <td class="text-nowrap"> \
                                        <div><img src="/static/assets/img/medals.png"/> ' + item.Total + '</div> \
                                        <div style="font-weight: bold;">' + item.Average + '</div> \
                                    </td>\
                                    <td class="text-nowrap"> \
                                        <div><img src="/static/assets/img/contact.png"/> ' + item.PlayersToday + '/50</div> \
                                        <div><img src="/static/assets/img/green_check.png"/> ' + item.DecksToday + '</div> \
                                        <div><img src="/static/assets/img/red_clock.png"/> ' + item.MissingAttacksToday +  '</div> \
                                    </td> \
                                    <td class="text-nowrap"> \
                                        <div><img src="/static/assets/img/yellow_ball.png"/> ' + item.Estimation + '</div> \
                                        <div><img src="/static/assets/img/red_ball.png"/> ' + item.MinPoints + '</div> \
                                        <div><img src="/static/assets/img/green_ball.png"/> ' + item.MaxPoints + '</div> \
                                    </td>';
                        
                        if(!colosseum){
                            clanRow += '<td class="text-nowrap text-right text-md-center"> \
                                            <div><img src="/static/assets/img/green_check.png"/> ' + item.Fame + '</div> \
                                            <div>+' + points[index] + '</div> \
                                            <div><img src="/static/assets/img/red_clock.png"/> ' + total + '</div> \
                                        </td>';
                        }
    
                        closeTr = '</tr>';
                        clanRows = clanRows + clanRow + closeTr;
                    });

                    $("#russoContent").append(clanRows);

                    let rows = '';

                    response.missingInfo.missingPlayers.forEach(function(item, index, arr){
                        let row = '<tr class="rowcolor"> \
                            <td class="col-4"> \
                                <div>' + item.name + '</div> \
                            </td> \
                            <td class="col-2"> \
                                <div>' + item.missingDecks + '</div> \
                            </td>';
                        
                        if(item.inClan){
                            row += '<td class="col-4"> \
                                        <div>' + item.lastSeen + '</div> \
                                    </td>';
                        } else {
                            row += '<td class="col-4"> \
                                <div>' + "saiu" + '</div> \
                            </td>';
                        }
    
                        closeTr = '</tr>'; 
                        rows += row + closeTr;
                    });
    
                    $("#russosMissing").text(" - осталось " + response.missingInfo.totalMissingParticipants + " игроков + " + response.missingInfo.totalMissing + " колоды");
                    $("#russosMissingContent").append(rows);
                } 
            });

        {% endfor %}           
    });
</script>

{% endblock javascripts %}