{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<style>
  #clan {
    background-color: #27293D;
  }

  .green {
    color: #000000;
    background: linear-gradient(to bottom, #66ff33 0%, #ccffcc 100%);
  }

  .yellow {
    background: linear-gradient(to bottom, #ffcc00 0%, #ffffff 100%);
  }

  .red {
    background: linear-gradient(to bottom, #ff3300 0%, #ffffff 100%);
  }

  .purple {
    background: linear-gradient(to bottom, #6600cc 0%, #ffffff 100%);
  }

  #analyseCard{
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  #analyseCard .card-body .card-title,
  #analyseCard .card-header .card-title,
  .table > thead > tr > th,
  .table > tbody > tr > td,
  .card h5,
  #new
  {
    color: #000000;
  }

</style>
{% endblock stylesheets %}

{% block content %}

<div class="row" id="filters">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h6 class="card-title">Criterias</h6>
        </div>
        <div class="card-body">

          <form class="" method="get">
            <div class="form-group">
              <label for="clans">Clan:</label>
              <select class="form-control" id="clan" name="clan">
                {% for clan in clans %}
                    <option class="optionvalue" {% if clan.id|slugify == sel_clan_id %} selected {% endif %} value="{{ clan.id }}">{{ clan.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="seasons">Season(s):</label>
              <select class="selectpicker" multiple data-live-search="true" id="seasonIds">
                {% for season in seasons %}
                    <option {% if season.identifier in lstSeasons %}selected{% endif %} value="{{ season.identifier }}">{{ season.identifier }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="clans">Add score from clan(s):</label>
              <select class="selectpicker" multiple data-live-search="true" id="additionalClanIds">
                {% for clan in clans %}
                    <option {% if clan.id|slugify in lstAdditionalClans %}selected{% endif %} value="{{ clan.id }}">{{ clan.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" name="includeplayers" type="checkbox" value="" {% if includeplayers %}checked="true"{% endif %}>
                <span class="form-check-sign">
                  <span class="check">Include players without score ?</span>
                </span>
              </label>
            </div>
            <div class="form-check">
              <label for="clans">Order by:</label><br>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="inlineOrderBy" id="orderby" value="avg" checked="true">
                <label class="form-check-label" for="inlineRadio1">Avg</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineOrderBy" id="orderby" value="fame" {% if orderby == "fame" %}checked="true"{% endif %}>
                <label class="form-check-label" for="inlineRadio2">Fame</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineOrderBy" id="orderby" value="atks" {% if orderby == "atks" %}checked="true"{% endif %}>
                <label class="form-check-label" for="inlineRadio3">Atks</label>
              </div>
            </div>
            <div class="form-check">
              <label for="clans">Player List:</label><br>
              <div class="form-check-inline">
                <input class="form-check-input" type="radio" name="source" id="source" value="line" checked="true">
                <label class="form-check-label" for="inlineRadio4">Line</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="source" id="source" value="family" {% if source == "family" %}checked="true"{% endif %}>
                <label class="form-check-label" for="inlineRadio5">Family</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="source" id="source" value="all" {% if source == "all" %}checked="true"{% endif %}>
                <label class="form-check-label" for="inlineRadio5">All</label>
              </div>
            </div>
            <input type="hidden" id="seasons" name="seasons" value="">
            <input type="hidden" id="additionalClans" name="additionalClans" value="">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>
        </div>
      </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="card" id="analyseCard">
        <div class="card-body">
          <h4 class="card-title text-center">{{ clanName }}</h4>
          {% if result %}
            <div class="table-responsive">
              <table class="table" id="">
                <thead class=" text-primary">
                  <!--<tr>
                    <th colspan="5"></th>
                    {% for season in lstSeasons %}
                      <th colspan="2" class="text-center">{{ season }}</th>
                    {% endfor %}-->
                  </tr>
                  <tr>
                      <th class="text-center">#</th>
                      <th class="text-center">Avg</th>
                      <th class="col-2">Name</th>
                      <!--<th class="col-1">Tag</th>-->
                      <th class="text-center">Atks</th>
                      {% for season in lstSeasons %}
                        <th class="text-center">{{ season }}</th>
                        <!--<th class="">Atks</th>-->
                      {% endfor %}
                  </tr>
                </thead>
                <tbody id="myTable">
                  {% for data in result %}
                      <tr class="{% if data.Average >= 180 %}green{% elif data.Average >= 170 %}yellow{% elif data.Average >= 160 %}red{% else %}purple{% endif %}">
                          <td class="text-center">{{ forloop.counter }}</td>
                          <td class="text-center">{{ data.Average|floatformat:2 }}</td>
                          <td class="col-2">{{ data.Name }}</td>
                          <!--<td class="col-1">{{ data.Tag }}</td>-->
                          <td class="text-center">{{ data.Atks }}</td>
                          
                          {% for seasonData in data.Seasons %}
                            <td class="text-center">{{ seasonData.Fame }}</td>
                            <!--<td class="col-1">{{ seasonData.Atks }}</td>-->
                          {% endfor %}
                          
                          {% if user.is_authenticated %}
                              {% comment %} <td class="td-actions text-right">
                                  <button onclick="window.location.href='{% url 'clashdata:editwarinfo' pk=clanmember.id %}';" type="button" rel="tooltip" class="btn btn-info btn-link btn-icon btn-sm">
                                      <i class="tim-icons icon-single-02"></i>
                                  </button>
                              </td> {% endcomment %}
                          {% endif %}
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div>
              <h5>Clan Average: {{ clanAverage|floatformat:2 }}</h5>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>

$( document ).ready(function() {
    var seasons = $('#seasonIds').val();
    $('#seasons').val(seasons);

    var additionalClans = $('#additionalClanIds').val();
    $('#additionalClans').val(additionalClans);
});

$('#seasonIds').change(function () {
      var selectedItem = $('#seasonIds').val();
      $('#seasons').val(selectedItem);
      console.log("changed");
});

$('#additionalClanIds').change(function () {
      var selectedItem = $('#additionalClanIds').val();
      $('#additionalClans').val(selectedItem);
      console.log("changed");
});

</script>
{% endblock javascripts %}