{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  #playersView {
    bordercolor: #FF0000;
  }

  .green {
    color: #000000;
    background: linear-gradient(to bottom, #66ff33 0%, #ccffcc 100%);
  }

  .yellow {
    background: linear-gradient(to bottom, #ffcc00 0%, #ffffff 100%);
  }

  .red {
    background: linear-gradient(to bottom, #ff3300 0%, #ffffff 100%);
  }

  .purple {
    background: linear-gradient(to bottom, #6600cc 0%, #ffffff 100%);
  }

  #tableCard{
    background-color: #FFFFFF;
    border-radius: 10px;
  }

  #analyseCard .card-body .card-title,
  #analyseCard .card-header .card-title,
  .table > thead > tr > th,
  .table > tbody > tr > td,
  .card h5,
  .card .card-body .card-title
  {
    color: #000000;
  }
</style>
{% endblock stylesheets %}

{% block content %}

<h4 class="card-title text-center">{{ data.name }} ({{ data.tag }})</h4>

<div class="row">
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Average</h5>
        <h4 class="card-title"><i class="tim-icons icon-bell-55 text-primary" style="color:black"></i> {{ total.Avg|floatformat:2 }} / atk</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartAverage"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Fame</h5>
        <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> {{ total.Fame.Min }} - {{ total.Fame.Max }} </h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartFame"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-category">Attacks</h5>
        <h4 class="card-title"><i class="tim-icons icon-send text-success"></i> {{ total.AtksAvg|floatformat:2 }} / week</h4>
      </div>
      <div class="card-body">
        <div class="chart-area">
          <canvas id="chartAtks"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card" id="tableCard">
        <div class="card-body">
            <div class="table-responsive">
              <table class="table" id="playersView">
                <thead class=" text-primary">
                  <tr style="border-bottom: 2px solid black;">
                    <th class="text-center">Season</th>
                    <th>Clan</th>
                    <th class="text-center">Fame</th>
                    <th class="text-center">Atks</th>
                    <th class="text-center">Boat</th>
                    <th class="text-center">Training</th>
                  </tr>
                </thead>
                <tbody>
                    {% for info in warInfo %}
                        <tr style="border-bottom: 2px solid black;">
                            <td class="text-center" style="color:{% if info.war.clan.name|lower == "bisturi" %}green{% elif info.war.clan.name|lower == "uzputoz" %}purple{% elif info.war.clan.name|lower == "brjp.fr.elite" %}red{% elif info.war.clan.name|lower == "get øut alive" %}orange{% else %}black{% endif %}">{{ info.war }}</td>
                            <td style="color:{% if info.war.clan.name|lower == "bisturi" %}green{% elif info.war.clan.name|lower == "uzputoz" %}purple{% elif info.war.clan.name|lower == "brjp.fr.elite" %}red{% elif info.war.clan.name|lower == "get øut alive" %}orange{% else %}black{% endif %}">{{ info.war.clan }}</td>
                            <td class="text-center" style="color:{% if info.war.clan.name|lower == "bisturi" %}green{% elif info.war.clan.name|lower == "uzputoz" %}purple{% elif info.war.clan.name|lower == "brjp.fr.elite" %}red{% elif info.war.clan.name|lower == "get øut alive" %}orange{% else %}black{% endif %}"><div {% if user.is_authenticated %} contenteditable {% endif %} onclick="edit(this)" onblur="leave(this,{{ info.id }})">{{ info.fame }}</div></td>
                            <td class="text-center" style="color:{% if info.war.clan.name|lower == "bisturi" %}green{% elif info.war.clan.name|lower == "uzputoz" %}purple{% elif info.war.clan.name|lower == "brjp.fr.elite" %}red{% elif info.war.clan.name|lower == "get øut alive" %}orange{% else %}black{% endif %}"><div {% if user.is_authenticated %} contenteditable {% endif %}>{{ info.atksWar }}</div></td>
                            <td class="text-center" style="color:{% if info.war.clan.name|lower == "bisturi" %}green{% elif info.war.clan.name|lower == "uzputoz" %}purple{% elif info.war.clan.name|lower == "brjp.fr.elite" %}red{% elif info.war.clan.name|lower == "get øut alive" %}orange{% else %}black{% endif %}">{{ info.boats }}</td>
                            <td class="text-center" style="color:{% if info.war.clan.name|lower == "bisturi" %}green{% elif info.war.clan.name|lower == "uzputoz" %}purple{% elif info.war.clan.name|lower == "brjp.fr.elite" %}red{% elif info.war.clan.name|lower == "get øut alive" %}orange{% else %}black{% endif %}">{{ info.atksTraining }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>  
        </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
   var originalValue = 0

  function edit(el) {
    console.log("edit " + el.textContent);
    originalValue = el.textContent
  }

  function leave(el, playerInfoId) {
    if (isNaN(el.textContent) || el.textContent == ""){
      el.textContent = originalValue;
      return;
    }

    if (el.textContent != originalValue) {
      console.log(playerInfoId + ": changed from " + originalValue + " to " + el.textContent);

        $.ajax({
          url: "{% url 'clashdata:updateplayerwarinfo' %}",
          type: "GET",
          data: {
              playerInfoId: playerInfoId,
              fame: el.textContent
          },
          error: function(response){
              console.log("error");
          },
          success: function(response){
            console.log("success");
          }
      });

      location.reload()
    }
  }

  function fillGraphics() {
    
    var avg_labels = [];
    var avg_data = [];
    var fame_data = [];
    var atks_data = [];    

    {{ summary|safe }}.forEach(item => {
      avg_labels.push(item.Name);
      avg_data.push(item.Avg.toFixed(2));
      fame_data.push(item.Fame);
      atks_data.push(item.Atks);
    })

    gradientChartOptionsConfigurationForAvg = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#ffffff',
        titleFontColor: '#000000',
        bodyFontColor: '#FF0000',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 225,
            padding: 5,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 10,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };

    gradientChartOptionsConfigurationForFame = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 3600,
            padding: 5,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 10,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };

    gradientChartOptionsConfigurationForAtks = {
      maintainAspectRatio: false,
      legend: {
        display: false
      },

      tooltips: {
        backgroundColor: '#f5f5f5',
        titleFontColor: '#333',
        bodyFontColor: '#666',
        bodySpacing: 4,
        xPadding: 12,
        mode: "nearest",
        intersect: 0,
        position: "nearest"
      },
      responsive: true,
      scales: {
        yAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(29,140,248,0.0)',
            zeroLineColor: "transparent",
          },
          ticks: {
            suggestedMin: 0,
            suggestedMax: 16,
            padding: 5,
            fontColor: "#9a9a9a"
          }
        }],

        xAxes: [{
          barPercentage: 1.6,
          gridLines: {
            drawBorder: false,
            color: 'rgba(225,78,202,0.1)',
            zeroLineColor: "transparent",
          },
          ticks: {
            padding: 10,
            fontColor: "#9a9a9a"
          }
        }]
      }
    };

    var ctxAvg = document.getElementById("chartAverage").getContext("2d");
    var gradientStrokeAvg = ctxAvg.createLinearGradient(0, 230, 0, 50);

    gradientStrokeAvg.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStrokeAvg.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStrokeAvg.addColorStop(0, 'rgba(119,52,169,0)');

    var dataAvg = {
      labels: avg_labels,
      datasets: [{
        label: "Average",
        fill: true,
        backgroundColor: gradientStrokeAvg,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: avg_data,
      }]
    };

    new Chart(ctxAvg, {
      type: 'line',
      data: dataAvg,
      options: gradientChartOptionsConfigurationForAvg
    });

    var ctxFame = document.getElementById("chartFame").getContext("2d");
    var gradientStrokeFame = ctxFame.createLinearGradient(0, 230, 0, 50);

    gradientStrokeFame.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStrokeFame.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStrokeFame.addColorStop(0, 'rgba(119,52,169,0)');

    var dataFame = {
      labels: avg_labels,
      datasets: [{
        label: "Fame",
        fill: true,
        backgroundColor: gradientStrokeFame,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: fame_data,
      }]
    };

    new Chart(ctxFame, {
      type: 'line',
      data: dataFame,
      options: gradientChartOptionsConfigurationForFame
    });

    var ctxAtks = document.getElementById("chartAtks").getContext("2d");
    var gradientStrokeAtks = ctxAtks.createLinearGradient(0, 230, 0, 50);

    gradientStrokeAtks.addColorStop(1, 'rgba(72,72,176,0.2)');
    gradientStrokeAtks.addColorStop(0.2, 'rgba(72,72,176,0.0)');
    gradientStrokeAtks.addColorStop(0, 'rgba(119,52,169,0)');

    var dataAtks = {
      labels: avg_labels,
      datasets: [{
        label: "Average",
        fill: true,
        backgroundColor: gradientStrokeAtks,
        borderColor: '#d048b6',
        borderWidth: 2,
        borderDash: [],
        borderDashOffset: 0.0,
        pointBackgroundColor: '#d048b6',
        pointBorderColor: 'rgba(255,255,255,0)',
        pointHoverBackgroundColor: '#d048b6',
        pointBorderWidth: 20,
        pointHoverRadius: 4,
        pointHoverBorderWidth: 15,
        pointRadius: 4,
        data: atks_data,
      }]
    };

    new Chart(ctxAtks, {
      type: 'line',
      data: dataAtks,
      options: gradientChartOptionsConfigurationForAtks
    });
  }

  $(document).ready(function() {
    fillGraphics();
  });

</script>
{% endblock javascripts %}