{% extends 'base.html' %}
{% load bootstrap3 %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    #whoisout_clan_filter{
        background-color: #27293D;
    }

    .test{
        vertical-align:bottom;
    }

</style>

{% endblock stylesheets %}

{% block content %}

{% if error %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Erro</h6>
            </div>
            <div class="card-body">   
                <h6 style="color:#FF726F;">{{ error }}
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Divergências Line</h6>
            </div>
            <div class="card-body">   
                <div>
                    <form class="" method="get" action="{% url 'clashdata:members' %}">
                        <select class="form-control clanSelection test" id="whoisout_clan_filter" name="filter">
                            {% for clan in clans %}
                                <option class="optionvalue" {% if clan.id|slugify == sel_clan_id %} selected {% endif %} value="{{ clan.id }}">{{ clan.name }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div>
                    <button id="buttonSearchWhoIsNotInClan" class="btn btn-primary" type="button">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% if total_line %}
<div class="row">
    <div class="col-md-12">
      <h5><span style="color:#00B050"> Line: {{ total_line }} / 50 </span>|
        <span style="color:#8064A2"> Clã: {{ total_clan }} / 50 </span></h5>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
            <h6 class="card-title">Fora do clã</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Nome</th>
                    <th>Tag</th>
                  </tr>
                </thead>
                <tbody>
                    {% for member in missing_members %}
                        <tr>
                            <td>{{ member.name }}</td>
                            <td>{{ member.tag }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table> 
            </div>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">A mais no clã</h6>
            </div>
          <div class="card-body">
              <div class="table-responsive">
                <table class="table tablesorter" id="">
                  <thead class=" text-primary">
                    <tr>
                      <th>Nome</th>
                      <th>Tag</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for member in exceeded_members %}
                          <tr>
                              <td>{{ member.name }}</td>
                              <td>{{ member.tag }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
                </table> 
              </div>
            </div>
          </div>
      </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    $('#buttonSearchWhoIsNotInClan').on('click', function() {
        var selectedClan = $('#whoisout_clan_filter').val();
        window.location.href = "?clan_filter_who_is_out=" + selectedClan
    })

</script>

{% endblock javascripts %}