
.logo-menu{
    text-align: center;
}

#bisturi-logo{
  font-weight: bold;
  color: #00B050;
}

#uzp-logo{
  font-weight: bold;
  color: #8064A2;
  border-top: 0em;
  border-bottom: 0cm;
  padding-top: 0%;
  padding-bottom: 0em;
  
}