.logo-central{
    color: white;
    text-align: center;
}

.logo-menu{
    text-align: center;
}

#bisturi-logo{
  font-weight: bold;
  color: #00B050;
}

#uzp-logo{
  font-weight: bold;
  color: #8064A2;
}